.date .wrapper {
     width: 100%;
     background: var(--outgoing-bg, #ffffff);
     border-radius: 10px;
     padding: 15px 10px;
     color: var(--txt-color, #333);
     border: 1px solid var(--outgoing-border, #e5e7eb);
 }

 .date .wrapper header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px;
 }

 .date .wrapper header .icons i {
     height: 38px;
     width: 38px;
     cursor: pointer;
     text-align: center;
     line-height: 38px;
     font-size: 1.2rem;
     border-radius: 50%;
     color: var(--icon-color, #555);
     user-select: none;
 }

 .date .wrapper header .icons i:hover {
     background: var(--incoming-border, #f1f5f9);
 }

 .current-date {
     font-size: 1.2rem;
     font-weight: 600;
 }

 .calendar {
     padding: 10px;
 }

 .calendar ul {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     padding: 0;
     margin: 0;
     text-align: center;
 }

 .calendar li {
     width: calc(100% / 7);
     font-size: 1rem;
     position: relative;
     margin-top: 25px;
     color: var(--txt-color, #333);
 }

 .calendar .weeks li {
     font-weight: 600;
     margin-top: 0;
     cursor: default;
 }

 .calendar .days li {
     cursor: pointer;
 }

 .calendar .days li.inactive {
     color: #aaa;
     cursor: default;
 }

 .calendar .days li::before {
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     transform: translate(-50%, -50%);
     z-index: -1;
 }

 .calendar .days li.available:hover::before {
     background: var(--incoming-border, #eaf7f4);
 }

 .calendar .days li input {
     display: none;
 }

 .calendar .days li input:checked+span::before {
     background: var(--accent-color, #1abc9c);
 }

 .calendar .days li input:checked+span {
     color: #fff;
     font-weight: 600;
 }

 .calendar .days li span {
     position: relative;
     z-index: 2;
 }

 .calendar .days li span::before {
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     transform: translate(-50%, -50%);
     z-index: -1;
 }

 .calendar .days li.past {
     color: #aaa;
     cursor: not-allowed;
 }

 .calendar .days li.past::before {
     background: transparent;
 }
