/* Popup menu */
.menu {
    position: absolute;
    top: 8%;
    right: 8%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: none;
    flex-direction: column;
    width: 50%;
    animation: fadeIn 0.2s ease;
    overflow: hidden;
    z-index: 999;
}

.menu.show {
    display: flex;
}

.menu button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    margin-top: 3px;
    color: var(--text-color);
    transition: background 0.2s;
}