/*==========================GLOBAL STLYE==================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;

}

:root {
    /* ===== Colors ===== */
    --accent-color: #407ef8;
    --panel-color: #FFF;
    --border-color: #e6e5e5;
    --light-txt-color: #fff;
    --radius: 8px;

    --txt-color: #343541;



    --icon-color: #343434;

    --icon-hover-bg: #f1f1f3;

    --placeholder-color: #6c6c6c;

    --outgoing-bg: #FFF;

    --incoming-bg: #F7F7F8;

    --outgoing-border: #ccc;

    --incoming-border: #D9D9E3;
}


.light-mode {
    --txt-color: #FFF;

    --icon-color: #fff;

    --icon-hover-bg: #5b5e71;

    --placeholder-color: #dcdcdc;

    --outgoing-bg: #343541;

    --incoming-bg: #2c2c2c;

    --outgoing-border: #fff;

    --incoming-border: #444654;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--outgoing-bg);
}

body::-webkit-scrollbar {
    display: none;
}

/* Text sizes */
.top-heading {
    font-size: 1.6em;
    color: var(--txt-color);
}

.heading,
.sub-heading {
    font-size: 1.2em;
    color: var(--txt-color);
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--txt-color);
}

li,
p,
small,
span,
a {
    font-size: 1em;
    color: var(--txt-color);
}

.text {
    color: var(--txt-color);
}

#usersTable {
    color: var(--txt-color);
    background: var(--incoming-bg);
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    background: var(--outgoing-bg) !important;
    color: var(--txt-color) !important;
}

  .form-control {
      background: var(--incoming-bg) !important;
      color: var(--txt-color) !important;
  }

  .form-control:focus {
      box-shadow: none !important;
      border-color: none !important;
      background: none !important;
      color: var(--txt-color) !important;


  }
/* Buttons style */
button.theme-btn,
a.theme-btn {
    background: var(--accent-color);
    color: #fff;
    padding: 8px;
    border-radius: var(--radius);
    border: none;
    border: 1px solid var(--accent-color);
}

.btn-outline-primary {
    width: 80px;
    padding: 4px;
    color: var(--accent-color) !important;
    border: 1px solid var(--accent-color) !important;
}

.btn-outline-primary:hover {
    background: var(--accent-color) !important;
    color: var(--light-txt-color) !important;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* centers by default */
    padding: 20px;

}

.header a {
    position: absolute;
    left: 5%;
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 50%;

}

.header span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 1.3em;
}


/* ================================================================== */
/*========================Main content area ==========================*/
/*===================================================================*/
.main-content {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    /* z-index: 999; */
    height: 100vh;
    background: var(--outgoing-bg);
    transition: margin-left 0.3s ease;
    overflow-y: auto;
}


.content-wrapper {
    padding: 2em 0;
    margin-left: 0;
}

@media (min-width: 992px) {
    .main-content {
        margin-left: 250px;
    }

}

/* ================================================================== */
/*======================TOP NAVIGATION BAR ==========================*/
/*==================================================================*/
.top-bar {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.top-bar button {
    width: 50px;
    padding: 10px;
    display: none;
}

.field {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

.field-2 {
    display: none;
    margin: 0;
}

.field input {
    height: 100%;
    width: 100%;
    outline: none;
    background: var(--outgoing-bg);
    border: 1px solid var(--outgoing-border);
    border-radius: 4px;
    font-size: 18px;
    color: var(--txt-color);
    padding: 0 15px;
}

.field i {
    position: absolute;
    height: 40px;
    width: 40px;
    background: var(--accent-color);
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

/* ================================================================== */
/*========================PROFILE CARD===============================*/
/*===================================================================*/

.profile-card {
    background: var(--incoming-bg);
    position: absolute;
    right: 2%;
    z-index: 999;
    color: var(--txt-color);
    user-select: none;
    padding: 20px 0 10px 0;
    width: 370px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: 0.4s ease;
    transition-delay: 0.2s;
}

.profile-details {
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

.profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details .icon {
    font-size: 1.8rem;
    color: var(--txt-color);
}



.profile-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-card .info p {
    margin: 0;
    line-height: 1;
    color: var(--txt-color);
}

.profile-card .details li,
b {
    line-height: 2;
    font-size: 16px;
}

.profile-card a {
    text-decoration: none;
    color: inherit;
}


.profile-card .menu li {
    padding: 10px 0 10px 14px;
    font-size: 1.1em;
}

.menu li:hover {
    background: #ccc;
}

.menu i {
    color: var(--txt-color);
}

@media(max-width:991px) {
    .field-2 {
        display: block;
    }

    .field-1 {
        display: none;
    }
}

@media (max-width:768px) {
    .profile-card {
        width: 320px;
    }

    .top-bar button {
        display: block;
    }
}

/* ================================================================== */
/*=======================SIDE NAVIGATION BAR  =======================*/
/*==================================================================*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

.overlay.active {
    display: block;
}


.flex {
    display: flex;
    align-items: center;
}

.nav_image {
    display: flex;
    min-width: 55px;
    justify-content: center;
}

.nav_image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--outgoing-bg);
    padding: 15px 10px;
    border-right: 1px solid #ddd;
    transition: all 0.4s ease;
}

@media(max-width:991px) {
    .sidebar {
        transform: translateX(-100%);
        z-index: 1045;
    }

    .sidebar.show-sidebar {
        transform: translateX(0);
    }


}

.sidebar.close {
    width: calc(55px + 20px);
}

.logo_items {
    gap: 8px;
}

.logo_name {
    font-size: 22px;
    color: var(--txt-color);
    font-weight: 500px;
    transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
    opacity: 0;
    pointer-events: none;
}

.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100% - 82px);
}

.menu_container::-webkit-scrollbar {
    display: none;
}

.menu_title {
    position: relative;
    height: 50px;
    width: 55px;
}

.menu_title .title {
    margin-left: 15px;
    transition: all 0.3s ease;
    color: var(--txt-color);
}

.sidebar.close .title {
    opacity: 0;

}

.menu_title .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: #aaa;
    transition: all 0.3s ease;
}


.menu_title .line {
    opacity: 0;
}

.sidebar.close .line {
    opacity: 1;
}

.item {
    list-style: none;
    font-size: inherit;
    color: var(--txt-color);
}

.menu_items {
    margin: 0;
    padding: 0;

}

.link {
    text-decoration: none;
    border-radius: 8px;
    color: var(--txt-color);
}

.link.active span,
.link.active i {
    color: white;
}

.link:hover {
    color: var(--txt-color);
    background-color: var(--incoming-border);
}

.link.active {
    background-color: var(--accent-color);
    color: white;
}

.link span.active {
    white-space: nowrap;


}


.link i {
    height: 50px;
    min-width: 55px;
    display: flex;
    color: var(--icon-color);
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

/* ================================================================== */
/*========================DASHBOARD===================================*/
/*===================================================================*/
.greet-card {
    position: relative;
    overflow: hidden;
    height: auto;
    border: 1px solid #ccc;
    background-color: var(--accent-color);
    background: url('../svg/undraw_medicine_hqqg.svg') right no-repeat;
    background-size: contain;
}


.greet-card button {
    position: relative;

}

.greet-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 40%;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 80%);
    animation: shine 4s infinite;
}

@keyframes shine {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.stat-card {
    background: var(--outgoing-bg);
    border: 1px solid var(--outgoing-border);
    border-radius: .75rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);


}

.stat-card i {
    color: var(--txt-color);
}

.stat-card .bi-arrow-right {
    color: var(--accent-color);
}

.stat-card .btn-outline-primary:hover i {
    color: var(--light-txt-color);
}


.stat-value {
    font-size: 2rem;
    /* big “173” numbe   */
    color: var(--txt-color);
    font-weight: 700;
    line-height: 1;
}


/* ================================================================== */
/*========================Charts===================================*/
/*===================================================================*/
.chart-container {
    border-radius: 10px;
    width: auto;
    margin: 0;
    background: var(--outgoing-bg);
    color: var(--txt-color);
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
}

#donutChart,
#barChart {
    color: var(--txt-color);
}
/* ================================================================== */
/*========================Calendar===================================*/
/*===================================================================*/
.date .wrapper {
    width: 100%;
    z-index: -99;
    max-height: 490px;
    background: var(--outgoing-bg);
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: var(--txt-color);
    border: 1px solid var(--outgoing-border);

}

.date .wrapper header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}


.date .wrapper header .icons i {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: var(--icon-color);
    text-align: center;
    line-height: 38px;
    font-size: 1.45rem;
    user-select: none;
    border-radius: 50%;
}

.icons i:last-child {
    margin-right: -10px;
}

.date .wrapper header .icons i:hover {
    background: var(--incoming-border);
}

.date .wrapper header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}


.calendar {
    padding: 10px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    text-align: center;
    padding: 0;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: var(--txt-color);
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: var(--accent-color);
}

.days li:not(.active):hover::before {
    background: var(--incoming-border);
}


/* ================================================================== */
/*====================Document/ Record Paper=========================*/
/*===================================================================*/
/*  */
.document {
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;

}

.record-paper {
    width: 736px;
    height: 100%;
    background: var(--outgoing-bg);
    padding: 3rem;
    margin: 20px 0;
    align-self: center;
    border: 1px solid var(--border-color);
}

.mini-heading {
    font-size: .55rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-weight: 600;
}

hr.divider {
    border-top: 2px solid var(--border-color);
    opacity: 1;
    margin: .35rem 0 .5rem;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.label {
    font-weight: 600;
    font-size: 1rem;
    color: var(--txt-color);
}

.record-paper textarea {
    height: auto;
    background: none;
}

.details-line {
    font-size: .85rem;
    margin-bottom: .2rem;
    margin-top: .9em;
}

.details-line span {
    font-size: 1.06rem;
}

/* two-column layout */
.content-row {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
}


.full-width {
    grid-column: 1 / -1;
}



.record-paper p {
    text-align: left;
    font-size: 1rem;
}

/* typographic tweaks */
.record-paper h5 {
    font-size: 1.05rem;
}

.record-paper h6 {
    font-size: 1rem;
    text-align: left;
    font-weight: 600;
}

.record-paper ul {
    padding-left: 1rem;
    margin-bottom: .5rem;
}

.record-paper ul li {
    font-size: .8rem;
}

@media(max-width:768px) {
    .record-paper {
        width: 100%;
        max-width: 476px;
        padding: 1rem;
        align-self: self-start;
    }

    .content-row {
        display: grid;
        gap: 1.25rem;
        grid-template-columns: repeat(1, 1fr);
    }
}


#usersTable {
    color: var(--txt-color) !important;
}



/*  */
.table-avatar {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    object-fit: cover;
}

/* Datatables overrides */
div.dataTables_filter {
    display: none;

}

/* hide default search */
.custom-dt-toolbar {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 1rem;
}

.custom-dt-toolbar button,
.custom-dt-toolbar button:hover {
    background: var(--accent-color);
    color: var(--light-txt-color);
}

/* setting-section */

.setting-section i {
    color: var(--icon-color);
}



.record-container {
    background: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 8px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.header-section {
    border-bottom: 2px solid var(--txt-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.record-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.file-info {
    text-align: right;
    font-size: 0.9rem;
}

.profile-photo {
    width: 80%;
    aspect-ratio: 4 / 4;
    border: 1px solid #000;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-weight: 500;
}

.section-title {
    font-weight: 600;
    border-bottom: 1px solid var(--txt-color);
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 3px;
}

.table th,
.table td {
    font-size: 0.9rem;
    vertical-align: middle;
    
    background: var(--outgoing-bg);
}

.table .form-control{
    background: var(--outgoing-bg);
    color: var(--txt-color);
}


.fingerprints i {
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.75rem;

    border: 1px solid #999;
    margin: 4px;
}

.footer-note {
    font-size: 0.9rem;
    color: var(--txt-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .file-info {
        text-align: left;
        margin-top: 10px;
    }

    .header-section {
        flex-direction: column !important;
    }

    .table th,
    .table td {
        font-size: 0.85rem;
    }
}