.top-bar {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

}

.field {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

.field-2 {
    display: none;
    margin: 0;
}

.field input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 15px;
}

.field i {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #665df4;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

@media(max-width:991px) {
    .field-2 {
        display: block;
    }

    .field-1 {
        display: none;
    }
}

.profile-details {
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

.profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details .icon {
    font-size: 1.8rem;
    color: #555;
}

.profile-card {
    background: #F5F6FA;
    position: absolute;
    right: 2%;
    z-index: 999;
    user-select: none;
    padding: 20px 0 10px 0;
    width: 370px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: 0.4s ease;
    transition-delay: 0.2s;

}


.profile-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-card .info p {
    margin: 0;
    line-height: 1;
    color: gray;
}

.profile-card .card a {
    position: relative;
    border-radius: 25px;
    border: none;
    text-align: center;
    color: #F5F6FA;
    background: #665df4;
    overflow: hidden;
    padding: 10px;

}

.profile-card .card a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 80%);
    animation: shine 4s infinite;
}

@keyframes shine {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}



.profile-card .details li,
b {
    line-height: 2;
    font-size: 16px;
    list-style-type: none;
}

.profile-card a {
    text-decoration: none;

    color: inherit;
}


.profile-card .menu li {
    padding: 10px 0 10px 14px;
    font-size: 1.1em;
    list-style-type: none;
}

.menu li:hover {
    background: #ccc;
    
}

.menu i {
    color: #555;
}

@media (max-width:768px) {
    .profile-card {
        width: 320px;
    }
}